{% load static %}

<section class="section-container" data-task="audio-only">
  <div class="card audio-interaction">
    <h2>Speak or Upload Audio</h2>

    <!-- Speak & Upload Sections in a Row -->
    <div class="audio-input-container">
      <!-- Speak Section -->
      <div class="speak-section">
        <button class="speak-button" id="recordButton">
          <div class="icon-container">
            <i class="fas fa-microphone" id="microphoneIcon"></i>
          </div>
          <span id="buttonLabel">Start Speaking</span>
          <p id="recordingStatus">Press to start speaking...</p>
        </button>

        <audio id="audioPlayback" controls hidden></audio>
      </div>

      <!-- Upload Section -->
      <div class="upload-section">
        <h4>Or Upload an Audio File</h4>
        <form id="audioForm" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="file" name="audio" id="audioUpload" accept="audio/*" />
        </form>
      </div>
    </div>

    <!-- Unified Submit Button -->
    <button id="submitAudioOnlyButton" disabled>Submit </button>
    {% include "pronouncePerfect/components/transcription.html" with prefix="audioOnly" %}  
  </div>
</section>